@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;



* {
    font-family: "avenir", "italic";
  }


.app__contant {

    padding: 0rem 1rem;
    // width: 100%;
    @include tablet {
        padding: 0rem 2rem
    }

    @include desktop {
        padding: 0rem 8rem;
        // border-left: $mercury;
    }
}


.main__content {

    width: 100%;

    @include tablet {
        // padding: 0rem 2rem;
       
    }

    @include desktop {
        // width: 66%;
        display: flex;
    }

    &-right {
        @include desktop {
            // width: 33%;
            border-left: $mercury;
            // flex: 4;
            // padding: 0rem 1rem;
        }
    }

    &-left {
        @include desktop {
            width: 90%;
            // flex: 6;
            // flex: 1;
        }

 
    }

}



