@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;



* {
    font-family: "avenir";
  }


.app__contant {

    padding: 0rem 1rem;
    // width: 100%;
    @include tablet {
        padding: 0rem 2rem
    }

    @include desktop {
        padding: 0rem 8rem;
        // border-left: $mercury;
    }
}


.main__content {

    width: 100%;

    @include tablet {
       
    }

    @include desktop {
        display: flex;
    }

    &-right {
        @include desktop {
            // border-left: $mercury solid;

        }
    }

    &-left {
        @include desktop {
            width: 90%;

            border-right: $mercury solid;
        }

 
    }

}



