@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


// TODO change this into a background image

.current-video {

    // padding: 1rem;
    width: 100%;

    @include desktop {
        width: 66%;
    }

    &__title {
        padding-bottom: 1rem;
        border-bottom: $mercury solid;
    }

    &__info {
        // border: red solid;
        border-bottom: $mercury solid;

        display: flex;
        // align-items:center;
        // justify-content: baseline;
        gap: 7rem;
        padding-bottom: 1rem;
    }

    &__flex1 {
        // border: red solid;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__flex2 {
        // border: red solid;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    //TODO align channel with date
    &__channel {
        // border: green solid;
        margin: 0;
    }

    &__date {
        margin: 0;
    }

    &__likes-container {
        // border: red solid;
        display: flex;
        gap: 0.5rem;

    }

    &__likes {
        margin: 0;
    }
    &__views {
        margin: 0;
    }

    &__views-container {
        border: re/d solid;
        display: flex;
        gap: 0.5rem;
    }

}

.current-video__image {
    height: 10rem;
    width: 100%;
    border: red solid;
}

